/* RESET STYLE */
QWidget {
    color: #CECECE;
}

QWidget:focus {
    border: 1px solid #6dd7ae;
}

/*QPushButton {
    padding: 10px;
}

QPushButton::menu-indicator {
    subcontrol-position: right center;
    subcontrol-origin: padding;
    left: -2px;
}*/

/** QScrollBar **/
QScrollBar:horizontal, QScrollBar:vertical {
	border: none;
	background: #232323;
	height: 9px;
	margin: 0px 0px 0px 0px;
}

QScrollBar:vertical {
	height: auto;
	width: 9px;
	margin: 0px 0px 0px 0px;
}

QScrollBar::handle:horizontal, QScrollBar::handle:vertical {
	background: #848484;
	min-width: 20px;
    border-radius: 4%;
}

QScrollBar::handle:vertical{
	width: 12px;
	min-width: 12px;
	min-height: 20px;
}

QScrollBar::add-line:horizontal, QScrollBar::add-line:vertical {
	border: none;
	background: transparent;
	width: 0px;
	subcontrol-position: right;
	subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
	width: 0px;
	height: 0px;
	subcontrol-position: bottom;
}

QScrollBar::sub-line:horizontal, QScrollBar::sub-line:vertical {
	border: none;
	background: transparent;
	width: 0px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	width: 0px;
	height: 0px;
	subcontrol-position: top;
}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal, 
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical {
	border: none;
	width: 3px;
	height: 3px;
	background: grey;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal, 
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: none;
}


/** TabWidget Style **/
QTabWidget::pane {
    border: none;
    border-top: 2px solid #232323;
    /*border-left: 1px solid #232323;*/
}

QTabBar::tab {
    margin-top: 6px;
    padding: 5px 10px;
    padding-top: 10px;
    background-color: #232323;
    color: #CECECE;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

QTabBar::tab:first {
    border-top-left-radius: 5px;
}

QTabBar::tab:last {
    border-top-right-radius: 5px;
}

QTabBar::tab:only-one {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QTabBar::tab:!selected {
    background-color: #848484;
    /*border-top: 1px solid #848484;
    border-right: 1px solid #848484;
    border-left: 1px solid #848484;*/
    border: none;
    color: #232323;
}

QTabBar::tab:!selected:hover {
    background-color: #565656;
    color: #CBCBCB;
}

QTabBar::tab:first:!selected {
    border-top-left-radius: 5px;
    /*border-left: 1px solid #848484;
    border-right: 1px solid #848484;*/
}

QTabWidget::tab > QWidget {
    background-color: #232323;
}

QTabWidget::tab QTabBar {
    background-color: transparent;
}

QTabWidget::tab QLabel {
    color: #CECECE;
}

QTabBar::close-button {
    image: url(images/close.png);
    padding-top: 10px;
}

QTabBar::close-button:!selected {
    image: none;
}

QTabBar::close-button:hover {
    image: url(images/close-hover.png);
}

#Navigation QPushButton {
    padding: 11px;
}

#Navigation QPushButton::menu-indicator {
    subcontrol-position: right middle;
}

/** QTreeView Style **/
QTreeView {
    /*border-top: 1px solid #232323;
    border-right: 1px solid #232323;*/
    border: none;
    padding-top: 10px;
    border-top-right-radius: 5px;
    background-color: #232323;
    color: #C4C4C4;
}

QTreeView::item:hover,
QTreeView::item:selected,
QTreeView::branch:hover,
QTreeView::branch:selected {
    background-color: #424242;
}

QMainWindow {
    background-color: #424242;
}

QMenu::item {
    background-color: #424242;
}

QMenu::item:selected {
    background-color: #232323;
}